:root {
  --color-brand: hsl(205, 85%, 40%);
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: black;
}

.logo {
  --size: 200px;
  position: absolute;
  width: var(--size);
  height: var(--size);
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo div {
  width: inherit;
  height: inherit;
  aspect-ratio: 1/1;
  position: absolute;
  transform: scale(2);
  border-radius: 100vw 0 100vw 100vw;
  background: var(--color-brand);
  &::before {
    content: '';
    position: absolute;
    inset: 0;
    background: black;
    border-radius: 100%;
    transform: scale(0.4);
  }
}

.logo > svg {
  position: absolute;
  width: auto;
  height: inherit;
  z-index: 11;
  left: 0;
  transform-origin: 50% 50%;
}

.logo [data-logo="mark"],
.logo [data-logo="threesixty-group"] path {
  opacity: 0;
}
