#catalog {
  --range-handle-width: 60px;
  --range-handle-height: 20px;
  --range-track-height: 4px;
  --item-gutter: 48px;

  padding: 6rem 0;
  position: relative;
  margin: 0 auto;
}

#catalog .logo {
  object-fit: contain;
  max-width: 16rem;
  display: block;
  margin: 0 auto;
  width: 100%;
  height: auto;
}

#catalog .years {
  display: flex;
  oveflow: auto hidden;
  position: relative;
  margin: 3rem auto 1.5rem;
  padding: 0;

  .year {
    padding: 0 1.5rem;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 700;
    font-style: normal;
    line-height: 98px;
    cursor: pointer;
    opacity: 0.66;

    * {
      pointer-events: none;
    }

    span {
      display: inline-block;
      transition: transform 0.3s var(--ease-in-out-sine);
    }
  }

  .year.active {
    opacity: 1;
  }
}

#catalog .items {
  display: flex;
  flex-wrap: nowrap;
  width: 100vw;
  max-width: 1440px;
  margin: auto;
}

#catalog .item {
  margin: 0;
  flex: 1;
  min-width: 70%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;

  &::before {
    content: "";
    position: absolute;
    inset: 3rem;
    background: var(--color-deep-blue);
    pointer-events: none;
    transition: opacity 0.3s var(--ease-out-cube),
      transform 0.3s var(--ease-out-cube);
    opacity: 0.5;
    z-index: -1;
  }

  * {
    pointer-events: none;
  }
}

@media (min-width: 768px) {
  #catalog .item {
    min-width: 33%;
  }
}

#catalog .item img {
  width: 100%;
  height: auto;
  display: block;
  max-height: 300px;
  object-fit: contain;
  object-position: 50% 0;
  transform-origin: 50% 0;
  position: relative;
  filter: brightness(0.3) saturate(0);
  transform: scale(0.84);
  transition: filter 0.3s var(--ease-out-cube),
    transform 0.3s var(--ease-out-cube);
}

#catalog figcaption {
  font: 700 1.5rem/1 AvenirNextLTW01-BoldCn, san-serif;
  text-transform: uppercase;
  text-align: center;
  opacity: 0;
  z-index: 10;
  padding: 1.5rem 1rem;
  background: rgba(0, 0, 0, 0.16);
  transition: opacity 0.3s var(--ease-out-cube),
    transform 0.3s var(--ease-out-cube);
  display: none;
}

@media (min-width: 768px) {
  #catalog figcaption {
    font-size: 2rem;
  }
}

#catalog .item.active {
  z-index: 1;

  &::before {
    opacity: 1;
  }

  img {
    filter: none;
    transition: filter 0.3s var(--ease-out-cube),
      transform 0.3s var(--ease-out-cube);
    transform: scale(1);
  }

  img + figcaption {
    opacity: 1;
    background: hsl(228deg 81% 36% / 76%);
    background: var(--color-primary);
    transform: translateY(calc(1rem + 0%));
    box-shadow: 3px 3px 0 0 #1d4efe;
  }
}
