#magazines {
  position: relative;
  min-height: 100vh;
  display: grid;
  /* overflow: hidden; */
  place-items: center;
}

#magazines .container {
  width: 100%;
  height: 100vh;
  height: -webkit-fill-available;
  position: absolute;
  left: 0;
  top: 0;
  user-select: none;
  padding: 0;
  max-width: none;
}

#magazines .center {
  height: 100vh;
  position: absolute;
  left: 50%;
  top: -50%;
  user-select: none;
  transform-origin: 50% 0%;
  /* transform: translate(0px, 100%) scale(0.66); */
}

#magazines .items {
  transform-origin: center var(--to-y);
  transform: rotate(0);
  user-select: none;
  display: flex;
}

#magazines .item {
  position: absolute;
  user-select: none;
  cursor: pointer;
  transform: translateX(-50%);
}

#magazines .item .card {
  display: block;
  color: #fff;
  user-select: none;
  border-radius: 0.25rem;
  cursor: grab;
  position: relative;
  z-index: 1;
  margin: 0;
  height: 100%;
  width: auto;
  width: 80vw;
  aspect-ratio: 8.5/11;
}

@media (min-width: 768px) {
  #magazines .item .card {
    width: 40vw;
  }
}

#magazines .item .card::before {
  content: "";
  position: absolute;
  inset: 0;
  mix-blend-mode: hard-light;
  opacity: 0.8;
  background: linear-gradient(
    90deg,
    hsl(0deg 0% 0% / 50%) 1%,
    hsl(0deg 0% 0% / 80%) 3%,
    hsl(0deg 0% 60% / 60%) 60%,
    hsl(0deg 0% 0% / 60%) 100%
  );
  z-index: 1;
  pointer-events: none;
}

#magazines .item .card::after {
  content: "";
  position: absolute;
  inset: 0;
  transform: translate(8px, 8px);
  background-color: gray;
  background-image: linear-gradient(
    90deg,
    transparent 50%,
    hsl(0deg 0% 0% / 30%) 50%
  );
  background-size: 2px;
  z-index: -1;
}

#magazines .image {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  object-position: 0 0;
  aspect-ratio: 8.5/11;
}

#magazines .cta {
  position: absolute;
  margin: 0 auto;
  text-align: center;
}

#magazines .logo {
  display: block;
  height: 8rem;
  width: 20rem;
  object-fit: contain;
}

#magazines .cta button {
  background: white;
  color: var(--color-white);
  font-size: 14px;
  line-height: 40px;
  font-family: AvenirNextLTW01-DemiCn, san-serif;
  height: 40px;
  margin: 1.5rem 0;
  padding: 0 20px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  background-color: var(--color-primary);
  border: 1px solid var(--color-primary);
  box-sizing: border-box;
  box-shadow: 3px 3px 0 0 #1d4efe;
  cursor: pointer;
}
