/* Avenir Next Condensed Demi */
@font-face {
  font-family: "AvenirNextLTW01-DemiCn";
  src: url("./fonts/721305/d268cd4d-987c-468a-a9bb-685df57a3892.woff2")
      format("woff2"),
    url("./fonts/721305/add96dac-4679-4981-9390-74fd5a5bf61f.woff")
      format("woff");
}

/* Avenir Next Condensed Bold */
@font-face {
  font-family: "AvenirNextLTW01-BoldCn";
  src: url("./fonts/721317/9f6106aa-36e0-4cfb-8cda-c3354eab2461.woff2")
      format("woff2"),
    url("./fonts/721317/ff039068-be8b-415c-b1a9-24eedee1c3ab.woff")
      format("woff");
}

/* Avenir Roman */
@font-face {
  font-family: "Avenir LT W05 55 Roman";
  src: url("./fonts/6288193/54cd418c-d829-40d8-87cb-60132155501c.woff2")
      format("woff2"),
    url("./fonts/6288193/1ee2e0d8-ea43-407d-b037-a7d4d89890b9.woff")
      format("woff");
}

/* Avenir Oblique */
@font-face {
  font-family: "Avenir LT W05_55 Oblique";
  src: url("./fonts/6288109/0f039122-3d9a-42de-9237-a882e95c3f6b.woff2")
      format("woff2"),
    url("./fonts/6288109/c8a015bc-6002-49a6-a2f3-b4ed76bbd9bf.woff")
      format("woff");
}

/* Avenir Black */
@font-face {
  font-family: "Avenir LT W05 95 Black";
  src: url("./fonts/6237457/04376105-33eb-4368-8027-ceb0a1dc8ced.woff2")
      format("woff2"),
    url("./fonts/6237457/6ce13c54-7d23-4b2d-8647-9bceaf4a208a.woff")
      format("woff");
}

/* Avenir Black Oblique */
@font-face {
  font-family: "Avenir LT W05_95 Black Oblique";
  src: url("./fonts/6237271/38c1022f-1f2c-42ae-9319-1bb40215186e.woff2")
      format("woff2"),
    url("./fonts/6237271/16b69502-06da-4578-8d16-e6f3a1a2c820.woff")
      format("woff");
}

:root {
  --to-y: 200vh;
  --color-black: #050b18;
  --color-white: #fff;
  --color-primary: #1131a7;
  --color-deep-blue: #0a152e;
  --color-silver-blue: #e2e7ea;
  --color-slate-blue: #262b34;
  --color-red: #ff0505;
  --color-red-brown: #b33321;
  --color-gray-444: #444;
  --color-gray-light: #eaeaea;
  --color-gray-medium: #888;
  --color-category-yellow: #fff200;
  --color-category-red: #d2232a;
  --color-category-pink: #ec008c;
  --color-category-blue: #25408f;
  --color-cyan: #00aeef;
}

/**
 * BREAKPOINT "default" mode
 */
:root {
  --breakpoint-media-1: 375px;
  --breakpoint-media-2: 540px;
  --breakpoint-media-3: 768px;
  --breakpoint-media-4: 1024px;
  --breakpoint-media-5: 1280px;
  --breakpoint-media-6: 1440px;
  --breakpoint-media-7: 1920px;
}

/**
 * RADIUS "default" mode
 */
:root {
  --radius-xxsmall: 2px;
  --radius-xsmall: 4px;
  --radius-small: 8px;
  --radius-medium: 12px;
  --radius-large: 16px;
}

/**
 * EASE "default" mode
 */
:root {
  --ease-in-sine: cubic-bezier(0.47, 0, 0.745, 0.715);
  --ease-out-sine: cubic-bezier(0.39, 0.575, 0.565, 1);
  --ease-in-out-sine: cubic-bezier(0.445, 0.05, 0.55, 0.95);
  --ease-in-expo: cubic-bezier(0.95, 0.05, 0.795, 0.035);
  --ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);
  --ease-in-out-expo: cubic-bezier(1, 0, 0, 1);
  --ease-in-cube: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  --ease-out-cube: cubic-bezier(0.215, 0.61, 0.355, 1);
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: hidden;
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
