/* Avenir Next Condensed Demi */
@font-face {
  font-family: "AvenirNextLTW01-DemiCn";
  src: url("./fonts/721305/d268cd4d-987c-468a-a9bb-685df57a3892.woff2")
      format("woff2"),
    url("./fonts/721305/add96dac-4679-4981-9390-74fd5a5bf61f.woff")
      format("woff");
}

/* Avenir Next Condensed Bold */
@font-face {
  font-family: "AvenirNextLTW01-BoldCn";
  src: url("./fonts/721317/9f6106aa-36e0-4cfb-8cda-c3354eab2461.woff2")
      format("woff2"),
    url("./fonts/721317/ff039068-be8b-415c-b1a9-24eedee1c3ab.woff")
      format("woff");
}

/* Avenir Roman */
@font-face {
  font-family: "Avenir LT W05 55 Roman";
  src: url("./fonts/6288193/54cd418c-d829-40d8-87cb-60132155501c.woff2")
      format("woff2"),
    url("./fonts/6288193/1ee2e0d8-ea43-407d-b037-a7d4d89890b9.woff")
      format("woff");
}

/* Avenir Oblique */
@font-face {
  font-family: "Avenir LT W05_55 Oblique";
  src: url("./fonts/6288109/0f039122-3d9a-42de-9237-a882e95c3f6b.woff2")
      format("woff2"),
    url("./fonts/6288109/c8a015bc-6002-49a6-a2f3-b4ed76bbd9bf.woff")
      format("woff");
}

:root {
  --color-black: #050b18;
  --color-white: #fff;
  --color-primary: #1131a7;
  --color-deep-blue: #0a152e;
  --color-silver-blue: #e2e7ea;
  --color-slate-blue: #262b34;
  --color-red: #ff0505;
  --color-red-brown: #b33321;
  --color-gray-444: #444;
  --color-gray-light: #eaeaea;
  --color-gray-medium: #888;
  --color-category-yellow: #fff200;
  --color-category-red: #d2232a;
  --color-category-pink: #ec008c;
  --color-category-blue: #25408f;
  --color-cyan: #00aeef;
}

/**
 * BREAKPOINT "default" mode
 */
:root {
  --breakpoint-media-1: 375px;
  --breakpoint-media-2: 540px;
  --breakpoint-media-3: 768px;
  --breakpoint-media-4: 1024px;
  --breakpoint-media-5: 1280px;
  --breakpoint-media-6: 1440px;
  --breakpoint-media-7: 1920px;
}

/**
 * RADIUS "default" mode
 */
:root {
  --radius-xxsmall: 2px;
  --radius-xsmall: 4px;
  --radius-small: 8px;
  --radius-medium: 12px;
  --radius-large: 16px;
}

/**
 * EASE "default" mode
 */
:root {
  --ease-in-sine: cubic-bezier(0.47, 0, 0.745, 0.715);
  --ease-out-sine: cubic-bezier(0.39, 0.575, 0.565, 1);
  --ease-in-out-sine: cubic-bezier(0.445, 0.05, 0.55, 0.95);
  --ease-in-expo: cubic-bezier(0.95, 0.05, 0.795, 0.035);
  --ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);
  --ease-in-out-expo: cubic-bezier(1, 0, 0, 1);
  --ease-in-cube: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  --ease-out-cube: cubic-bezier(0.215, 0.61, 0.355, 1);
  --ease-in-out-cube: cubic-bezier(0.645, 0.045, 0.355, 1);
}

* {
  box-sizing: border-box;
}

html {
  scrollbar-width: thin;
  scrollbar-color: var(--color-primary) var(--color-slate-blue);
  scrollbar-gutter: stable;

  &:not(.sticky) {
    overflow: hidden auto;
  }
}

body,
html {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

body {
  margin: 0;
  overflow-x: hidden;
  font-family: "Avenir LT W05 55 Roman";
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #050b18;
  color: var(--color-black);
  font-size: 16px;
  line-height: 1.4;
  font-weight: 400;
  font-style: normal;
  background-color: #fff;
  background-color: var(--color-white);

  &.dark-mode {
    color: #fff;
    color: var(--color-white);
    background-color: #050b18;
    background-color: var(--color-black);
  }
}

::-moz-selection {
  color: #fff;
  color: var(--color-white);
  background: #1131a7;
  background: var(--color-primary);
}

::selection {
  color: #fff;
  color: var(--color-white);
  background: #1131a7;
  background: var(--color-primary);
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 16px;
}

@media (min-width: 501px) {
  .container {
    padding: 0 24px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: AvenirNextLTW01-BoldCn, san-serif;
}

.fs-h1,
h1 {
  font-size: 2rem;
  line-height: 1.1;
  margin: 0.28rem 0;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .fs-h1,
  h1 {
    font-size: 2.5rem;
  }
}

@media (min-width: 992px) {
  .fs-h1,
  h1 {
    font-size: 3rem;
  }
}

.fs-h2,
h2 {
  font-size: 1.5rem;
  line-height: 1.2;
  margin: 0.28rem 0;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .fs-h2,
  h2 {
    font-size: 2rem;
  }
}

@media (min-width: 992px) {
  .fs-h2,
  h2 {
    font-size: 2.5rem;
  }
}

@media (min-width: 1200px) {
  .fs-h2,
  h2 {
    font-size: 2.75rem;
  }
}

.fs-h3,
h3 {
  font-size: 1.5rem;
  margin: 0.28rem 0;
  text-transform: uppercase;
}

.fs-h4,
h4 {
  font-size: 1.25rem;
  text-transform: none;
}

.fs-h4,
.fs-h5,
h4,
h5 {
  line-height: 1.5;
  margin: 1rem 0;
}

.fs-h5,
h5 {
  font-size: 1.125rem;
}

.fs-h6,
h6 {
  margin: 0.5rem 0;
}

.fs-h6,
.fs-normal,
h6,
p {
  font-size: 1rem;
  line-height: 1.5;
}

.fs-normal,
p {
  margin: 1rem 0;
}

@media (min-width: 576px) {
  .fs-normal,
  p {
    font-size: 1.125rem;
  }
}

.fs-normal-uppercase {
  font-size: 0.875rem;
  letter-spacing: 0.02rem;
  text-transform: uppercase;
}

.fs-small {
  font-size: 1rem;
  line-height: 1.5;
  margin: 0.5rem 0;
}

.fs-smaller-uppercase {
  font-size: 0.75rem;
  letter-spacing: 0.04rem;
  text-transform: uppercase;
}

.text-link {
  color: #cccccc !important;
  font-size: 0.75rem;
  letter-spacing: 0.02rem;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  transition: all 300ms ease-out;
}

.text-link:hover {
  color: #fff;
  color: var(--color-white) !important;
  text-decoration: underline;
}

.link-external {
  color: #fff;
  color: var(--color-white);
  font-size: 0.75rem;
  letter-spacing: 0.02rem;
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

.link-external svg {
  fill: #fff;
  fill: var(--color-white);
  width: 1rem;
  height: 1rem;
  margin: 0 0 0 0.25rem;
}

#header {
  position: sticky;
  top: 0;
  background: var(--color-black);
}

#header {
  z-index: 10000;
}

header,
header:before {
  width: 100%;
  position: absolute;
}

header:before {
  content: "";
  height: 64px;
  top: 0;
  left: 0;
  background: linear-gradient(0deg, transparent, rgba(0, 0, 0, 0.5));
}

.sticky header {
  top: 0;
  position: fixed;
}

.sticky header:before {
  content: normal;
}

.sticky header a.logo-primary svg .shape {
  fill: #fff;
  fill: var(--color-white);
}

.sticky header a.logo-primary svg .type {
  fill: #0f3080;
}

header .flex-row {
  width: 100%;
  height: 64px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  grid-gap: 3rem;
  gap: 3rem;
}

@media (min-width: 1024px) {
  header .flex-row {
    grid-template-columns: repeat(3, 1fr);
  }
}

header a.logo-primary {
  display: inline-block;
}

header a.logo-primary svg {
  fill: #fff;
  width: auto;
  height: 40px;
  vertical-align: bottom;
}

header a.logo-primary svg .shape {
  fill: #0f3080;
  transition: fill 0.3s ease;
}

header a.logo-primary svg .type {
  fill: #fff;
  transition: fill 0.3s ease;
}

header nav.primary-nav {
  display: none;
}

@media (min-width: 1024px) {
  header nav.primary-nav {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

header nav.primary-nav ul.menu {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row nowrap;
  grid-gap: 1rem;
  gap: 1rem;
  list-style: none;
}

@media (min-width: 1200px) {
  header nav.primary-nav ul.menu {
    grid-gap: 1.5rem;
    gap: 1.5rem;
  }
}

header nav.primary-nav ul.menu li.menu-item {
  color: #fff;
  color: var(--color-white);
  font-size: 1rem;
  font-family: "AvenirNextLTW01-DemiCn", san-serif;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-wrap: nowrap;
  position: relative;
}

header nav.primary-nav ul.menu li.menu-item:hover:before {
  width: 100%;
}

header nav.primary-nav ul.menu li.menu-item:before {
  content: "";
  width: 0%;
  height: 2px;
  bottom: 0;
  left: 0;
  position: absolute;
  background-color: #fff;
  background-color: var(--color-white);
  transition: width 300ms ease;
}

header nav.primary-nav ul.menu li.menu-item.current-menu-item:before,
header nav.primary-nav ul.menu li.menu-item.current-post-ancestor:before,
header nav.primary-nav ul.menu li.menu-item.current-category-ancestor:before {
  width: 100%;
}

header nav.primary-nav ul.menu li.menu-item a {
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  text-decoration: none;
}

header .menu-items {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  grid-gap: 1.5rem;
  gap: 1.5rem;
}

header .menu-items .icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

header .menu-items .icon svg {
  fill: #fff;
  fill: var(--color-white);
  width: 24px;
  height: 24px;
}

header .menu-items .button {
  margin: 0;
  display: none;
}

@media (min-width: 425px) {
  header .menu-items .button {
    display: inline-block;
  }
}

svg.icon {
  width: 32px;
  height: auto;
  aspect-ratio: 1;
  color: var(--color-gray-medium);
  grid-area: icon;
  margin: 0 0 1rem;
  display: block;

  @media (min-width: 768px) {
    width: 32px;
    margin: 0 0 1rem;
  }

  @media (min-width: 1024px) {
    width: 40px;
    margin: 0 0 1rem;
  }
}

svg.icon .s-cyan {
  stroke: var(--color-cyan);
}

svg.icon .f-cyan {
  fill: var(--color-cyan);
}
