@font-face {
  font-family: "National";
  src: url("//cdn.shopify.com/s/files/1/0065/0942/8788/t/83/assets/National-Black.woff2?v=124772976675450584191657744101")
      format("woff2"),
    url("//cdn.shopify.com/s/files/1/0065/0942/8788/t/83/assets/National-Black.woff?v=50483926058093393901657744101")
      format("woff");
  font-weight: 900;
  font-display: auto;
  font-style: normal;
}

@font-face {
  font-family: "National";
  src: url("//cdn.shopify.com/s/files/1/0065/0942/8788/t/83/assets/National-BlackItalic.woff2?v=17135354541223522071657744102")
      format("woff2"),
    url("//cdn.shopify.com/s/files/1/0065/0942/8788/t/83/assets/National-BlackItalic.woff?v=36942395918719003631657744102")
      format("woff");
  font-weight: 900;
  font-display: auto;
  font-style: italic;
}

@font-face {
  font-family: "SourceSansPro";
  src: url("//cdn.shopify.com/s/files/1/0065/0942/8788/t/83/assets/SourceSansPro-Regular.woff2?v=64470666395362026031657744193")
      format("woff2"),
    url("//cdn.shopify.com/s/files/1/0065/0942/8788/t/83/assets/SourceSansPro-Regular.woff?v=90578344034404765071657744193")
      format("woff");
  font-weight: 400;
  font-display: auto;
  font-style: normal;
}

@font-face {
  font-family: "SourceSansPro";
  src: url("//cdn.shopify.com/s/files/1/0065/0942/8788/t/83/assets/SourceSansPro-RegularItalic.woff2?v=38459330107339235461657744194")
      format("woff2"),
    url("//cdn.shopify.com/s/files/1/0065/0942/8788/t/83/assets/SourceSansPro-RegularItalic.woff?v=65114868564978037901657744194")
      format("woff");
  font-weight: 400;
  font-display: auto;
  font-style: italic;
}

@font-face {
  font-family: "SourceSansPro";
  src: url("//cdn.shopify.com/s/files/1/0065/0942/8788/t/83/assets/SourceSansPro-SemiBold.woff2?v=138478849340157508631657744196")
      format("woff2"),
    url("//cdn.shopify.com/s/files/1/0065/0942/8788/t/83/assets/SourceSansPro-SemiBold.woff?v=86233531708344673501657744195")
      format("woff");
  font-weight: 600;
  font-display: auto;
  font-style: bold;
}

@font-face {
  font-family: "SourceSansPro";
  src: url("//cdn.shopify.com/s/files/1/0065/0942/8788/t/83/assets/SourceSansPro-Bold.woff2?v=35904512487293676231657744191")
      format("woff2"),
    url("//cdn.shopify.com/s/files/1/0065/0942/8788/t/83/assets/SourceSansPro-Bold.woff?v=67644389420211570711657744190")
      format("woff");
  font-weight: 700;
  font-display: auto;
  font-style: bold;
}

@font-face {
  font-family: "SourceSansPro";
  src: url("//cdn.shopify.com/s/files/1/0065/0942/8788/t/83/assets/SourceSansPro-BoldItalic.woff2?v=149313624856293187541657744192")
      format("woff2"),
    url("//cdn.shopify.com/s/files/1/0065/0942/8788/t/83/assets/SourceSansPro-BoldItalic.woff?v=141775518083628190221657744192")
      format("woff");
  font-weight: 700;
  font-display: auto;
  font-style: italic;
}

@font-face {
  font-family: "SourceSansPro";
  src: url("//cdn.shopify.com/s/files/1/0065/0942/8788/t/83/assets/SourceSansPro-Black.woff2?v=182204858027891485041657744190")
      format("woff2"),
    url("//cdn.shopify.com/s/files/1/0065/0942/8788/t/83/assets/SourceSansPro-Black.woff?v=172312910254757234321657744189")
      format("woff");
  font-weight: 900;
  font-display: auto;
  font-style: bold;
}
