* {
  box-sizing: border-box;
}

body {
  --os-w: 20.875rem;
  padding-top: 6rem;
  display: flex;
  justify-content: center;
  gap: 3rem;
  font-size: 0.875rem;
  font-variant-numeric: proportional-nums;
  -webkit-font-smoothing: antialiased;
  transition: gap 0.3s ease-out;

  @media (prefers-color-scheme: dark) {
    background: var(--navy);
  }

  ::selection {
    background: var(--mint-bg);
    color: var(--navy);
  }

  > figure,
  > div {
    position: relative;
    transition: all 0.3s ease-out;
  }

  &.broken {
    opacity: 1;
    .label {
      opacity: 1;
    }
  }

  &.is-overlay {
    gap: 0;
    opacity: 1;
    transition: opacity 0.3s ease-out 1s;
    > figure {
      pointer-events: none;
      transform: translateX(50%);
      mix-blend-mode: difference;
      opacity: 0.25;
      z-index: 1;
    }
    > div:first-of-type {
      transform: translateX(-50%);
    }
    .label {
      opacity: 0;
    }
  }

  &.is-delay-ready:not(.broken) {
    opacity: 0;
    animation: delay-opacity 0.3s ease-out 0.9s forwards;
  }

  @keyframes delay-opacity {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  #overlay {
    bottom: initial;
    top: 2rem;
    right: 2rem;
    min-width: 0;
    .icon {
      margin: 0;
    }
  }

  #overlay .apart {
    opacity: 0;
  }
  
  &.is-overlay #overlay {
    .stack {
      opacity: 0;
    }
    .apart {
      opacity: 1;
    }
  }

  .label {
    margin: 0;
    font: 600 2vw/1 'Source Sans Pro';
    text-align: center;
    display: block;
    position: absolute;
    bottom: -1.5rem;
    left: 0;
    right: 0;
    transform: translateY(100%);
    transition: opacity 0.3s ease-out;
    opacity: 0;

    > img {
      display: block;
      margin: 1.5rem auto 0;
      width: 2vw;
      height: auto;
    }
  } 
}

#os-design {
  width: var(--os-w);
  height: 100%;
  margin: 0;
  > img {
    width: 100%;
    height: auto;
    display: block;
  }
}

.os {
  --color-text: var(--navy);
  --color-text2: var(--putty-text);
  --color-bg: white;
  --color-bg2: var(--putty-bg);
  --color-bg3: #f4f6f8;
  --colortheme: var(--mint-bg);
  --outline: var(--green);

  border-radius: 14px;
  border: 1px solid var(--color-bg2);
  width: var(--os-w);
  color: var(--color-text);
  background: var(--color-bg);
  user-select: none;
  position: relative;

  @media (prefers-color-scheme: dark) {
    & {
      --color-text: white;
      --color-text2: var(--putty-graphics);
      --color-bg: var(--navy);
      --color-bg2: var(--navy-bg);
      --color-bg3: hsl(231deg, 19%, 27%);
      --colortheme: var(--putty-text);
    }
  }

  &.overlay::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: var(--os-w);
    height: 100%;
    background: url("../assets/os-design.png") 0 0/var(--os-w) auto no-repeat;
    z-index: 100;
    opacity: 0.25;
    mix-blend-mode: difference;
    pointer-events: none;
  }

  p {
    margin: 0;
  }
}

.icon {
  width: 1rem;
  height: 1rem;
  object-fit: contain;
}

.bold {
  font-weight: 700;
}

.upper {
  text-transform: uppercase;
  font-weight: 700;
  color: var(--putty-text);
  letter-spacing: 0.05em;
}

.italic {
  font-style: italic;
  font-weight: 300;
}

.os,
button,
input {
  font-family: "Source Sans Pro";
}

.os-header {
  width: 100%;
  max-height: 4rem;
  background: var(--color-bg2);
  color: var(--color-text);
  padding: 1.5rem 1rem;
  border: none;
  font-family: "Source Sans Pro";
  cursor: pointer;
  transition: background 0.15s ease-out;
  outline: none;
  border-radius: 13px 13px 0 0;

  &:focus {
    outline: 1px dotted var(--outline);
  }
}

.os-subtotal {
  position: relative;
  font-size: 1rem;
  font-family: "Source Sans Pro";
  font-weight: 700;
  font-variant-numeric: proportional-nums;
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-gap: 0 0.8rem;
}

.os-chevron.icon {
  transition: transform 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86), opacity 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);

  [data-state="closed"] & {
    transform: rotate(-180deg);
  }
}

.os-content {
  padding: 0 1rem;
  height: calc(var(--ch) * 1px);
  overflow: hidden;
  transition: height 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);

  [data-state="closed"] & {
    height: 0;
  }
}

.os-section {
  padding: 1.5rem 0;
  margin: 0;
  &:not(:last-child) {
    border-bottom: 1px solid var(--color-bg2);
  }
}

[data-state="closed"] .os-section {
  opacity: 0;
  transform: translateY(-0.25rem);
  transition: opacity 0.3s ease-in 0.15s, transform 0.3s ease-in 0.15s;
}

[data-state="open"] {
  @for $i from 1 through 4 {
    .os-section:nth-child(#{$i}) {
      $d: $i * 0.075s;
      transition: opacity 0.3s ease-out $d, transform 0.3s ease-out $d;
    }
  }
}

.os-item {
  display: grid;
  grid-gap: 0 1rem;
  align-items: center;
  padding-bottom: 1.75rem;
  grid-template-areas:
    "img title price"
    "img input discount"
    "img message message";
}

.os-img {
  grid-area: img;
  max-width: 5rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;

  img {
    width: 100%;
    object-fit: contain;
    display: block;
    z-index: 1;
  }

  &::before {
    content: "";
    position: absolute;
    background: var(--colortheme);
    width: 4.25rem;
    height: 4.25rem;
    border-radius: 4.25rem;
  }
}

.os-title {
  font-size: 1.125rem;
  line-height: 1.75rem;
  grid-area: title;
  margin: 0;
}

.os-price {
  grid-area: price;
  text-align: right;
}

.os-item .os-discount-message {
  grid-area: message;
  font-weight: 700;
  color: var(--color-text2);
  margin-top: 0.5rem;
  opacity: 0;
  transform: translateX(-0.25rem);
  transition:
    transform 0.3s ease-out,
    opacity 0.3s ease-out;
}

.os-item.has-discount .os-discount-message {
  opacity: 1;
  transform: translateX(0);
}

.os-item.has-error .os-discount-message {
  opacity: 1;
  transform: translateX(0);
  color: var(--red);
  font-weight: normal;
}

[for="os-discount-input"] {
  grid-area: input;
  max-width: 8.9375rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;

  input {
    width: 100%;
    max-height: 2rem;
    padding: 0.5rem 0.5rem 0.5rem 1.75rem;
    border-radius: 0.25rem;
    border: none;
    font-size: 1rem;
    background: var(--color-bg3);
    color: currentColor;

    &::placeholder {
      color: var(--gray);
    }

    &:focus,
    &:active {
      outline: 1px dotted var(--outline);
    }
  }

  .icon {
    position: absolute;
    &.os-tag {
      left: 0.5rem;
    }
    &.os-x,
    &.os-loading {
      right: 0.25rem;
      cursor: pointer;
    }
  }
}

button.os-x {
  width: 1rem;
  height: 1rem;
  background: none;
  border: none;
  padding: 0;
  appearance: none;
  outline: none;
  color: currentColor;
  border-radius: 1rem;

  &:focus,
  &:active {
    outline: 1px dotted var(--outline);
    svg path {
      fill: var(--green-text);
    }
  }
}

.os-loading {
  opacity: 0;
  transform-origin: 8px 8px;
  animation: loop 0.65s infinite linear;
}

.os-label::after {
  content: ':';
}

@keyframes loop {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.os-item.loading .icon.os-x {
  opacity: 0;
  pointer-events: none;
}

.os-item .icon.os-loading {
  pointer-events: none;
}

.os-item.loading .icon.os-loading {
  opacity: 1;
}

.os-discount-price {
  grid-area: discount;
  text-align: right;
}

[data-plan="day"] {
  font-weight: 700;
  font-size: 0.75rem;
  background: var(--mint-bg);
  color: var(--green-text);
  border-radius: 2rem;
  padding: 0.25rem 0.5rem;
  max-height: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-gap: 0 0.5rem;
  @media (prefers-color-scheme: dark) {
    & {
      background: var(--green-text);
      color: var(--mint);
    }
  }
}

.os-plan.icon {
  animation: rotate-sun 30s linear infinite;
}

@keyframes rotate-sun {
  to {
    transform: rotate(360deg);
  }
}

.os-line {
  min-height: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.os-link {
  font: 700 0.9375rem/1 "National", "Source Sans Pro";
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--color-text2);
  cursor: pointer;
}

.os-fees {
  display: flex;
  flex-direction: column;
  grid-gap: 0.5rem 0;
}

.os-disclosure {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  p.os-disclosure-title {
    margin: 0.25rem 0;
  }

  p.os-disclosure-text {
    font-size: 0.75rem;
    overflow: hidden;
    span {
      opacity: 1;
      transition: all 0.3s ease-out;
      overflow: hidden;
      display: block;
      height: calc(var(--dh) * 1px);
    }
  }

  p.os-disclosure-text[data-state="less"] span {
    opacity: 0;
  }

  button.os-link {
    letter-spacing: 0;
    margin-top: 0.75rem;
    align-self: flex-end;
    background: none;
    border: none;
    padding: 0;
    color: currentColor;
    text-transform: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 4.5rem;
    outline: none;

    &:focus,
    &:active {
      color: var(--green-text);
      outline: 1px dotted var(--outline);
    }

    &::before {
      content: attr(data-btn-text);
    }

    .icon {
      transform: rotate(90deg) scale(0.66);
      stroke-width: 1;
      stroke: currentColor;
      stroke-linecap: square;
      stroke-linejoin: initial;
    }

    &[data-btn-text="See Less"] .icon {
      transform: rotate(0deg) scale(0.66);
    }
  }
}

.broken {
  .os {
    border-color: lighten(gray, 20%);
    font-size: 1rem;
    font-variant-numeric: normal;
    * {
      transition: none !important;
    }
  }
  .os-header {
    padding: 1rem 0.5rem 1rem;
  }
  .os-title,
  .os-link {
    font-family: 'Source Sans Pro';
    font-family: sans-serif;
    letter-spacing: normal;
    font-size: 14px;
  }
  .os-section:not(:last-child) {
    border-color: lighten(gray, 20%);
  }
  .os-section:first-child {
    padding: 2rem 1rem 1rem;
  }
  .os-section {
    padding: 1.5rem 0.5rem 1.75rem;
  }
  button,
  input {
    pointer-events: none;
  }
  .os-price,
  .os-discount-price {
    text-align: left;
  }
  .os-fees.os-section {
    padding-top: 1.1rem;
    padding-bottom: 1.2rem;
  }
  [data-plan="day"] {
    max-height: none;
    line-height: normal;
    font-weight: 900;
    font-size: 1rem;
    position: relative;
    left: -0.15rem;
  }
  .os-item {
    grid-gap: 0 0.5rem;
    padding: 1rem 0;
  }
  .os-img img {
    position: relative;
    filter: blur(0.5px);
  }
  .bold {
    font-weight: 600;
  }
  .italic {
    font-weight: 400;
  }
  .os-disclosure p.os-disclosure-text {
    font-size: 13px;
    white-space: nowrap;
  }
  .upper {
    letter-spacing: normal;
    color: var(--navy);
  }
  .os-disclosure.os-section {
    padding-top: 1.5rem;
    padding-bottom: 2.25rem;
    padding-left: 0;
  }
  [for=os-discount-input] input {
    font-family: sans-serif;
    max-height: none;
    border-radius: 0;
  }
  [for=os-discount-input] .icon.os-tag {
    top: 0.65rem;
  }

  .os-label::after {
    display: none;
  }
  #overlay {
    opacity: 0;
  }
}
