@import '../styles/variables';
@import '../styles/mixins';

.faqs.accordion-section .faq--illustration {
  --size: 72px;
  position: relative;
  width: var(--size);
  height: var(--size);
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: -1;

  img {
    display: block;
    width: var(--size);
    height: var(--size);
  }
  
  .svg-dots {
    --scale: 1.5;
    position: absolute;
    transform: rotate(-15deg) translate(0px, 10px) scale(var(--scale));
    z-index: -1;
  }
}

.js-badger-accordion-header {
  cursor: pointer;
}
