// Cube
// -------------------------------------------
.cube {
  --duration: 0.6;
  --delay: 0;
  --s: 1;
  width: var(--size);
  height: var(--size);
  position: absolute;
  top: calc(var(--t, 0) * var(--size));
  left: calc(var(--l, 0) * var(--size));
  transform-style: preserve-3d;
  transform:
    translateX(calc(var(--tx) * var(--size))) 
    translateY(calc(var(--ty) * var(--size)))
    translateZ(calc(var(--tz) * var(--size)))
    rotateX(calc(var(--rx) * 1deg))
    rotateY(calc(var(--ry) * 1deg))
    rotateZ(calc(var(--rz) * 1deg))
    scale3d(var(--s), var(--s), var(--s));
  transition: transform calc(var(--duration) * 1s) $ease-in-out-circ calc(var(--delay) * 1s);
}

// Face
// -------------------------------------------
.cube-face {
  position: absolute;
  width: var(--size);
  height: var(--size);
  display: flex;
  align-items: center;
  justify-content: center;
  background: #111;
  pointer-events: none;
  font-size: 0;

  &::before {
    position: absolute;
    inset: 2px;
    border-radius: 4px;
    content: "";
  }
}

.debug .cube-face {
  font-size: 1rem;
  &::before {
    content: attr(data-index);
    display: grid;
    place-content: center;
    color: black;
    font-weight: bold;
  }
}

.cube-face.front {
  transform: rotateY(0deg) translateZ(calc(var(--size) / 2));
}
.cube-face.right {
  transform: rotateY(90deg) translateZ(calc(var(--size) / 2));
}
.cube-face.back {
  transform: rotateY(180deg) translateZ(calc(var(--size) / 2));
}
.cube-face.left {
  transform: rotateY(-90deg) translateZ(calc(var(--size) / 2));
}
.cube-face.top {
  transform: rotateX(90deg) translateZ(calc(var(--size) / 2));
}
.cube-face.bottom {
  transform: rotateX(-90deg) translateZ(calc(var(--size) / 2));
}

.cube-face.front::before {
  background: var(--color-light);
}
.cube-face.right::before {
  background: var(--color-primary);
}
.cube-face.back::before {
  background: var(--color-light);
}
.cube-face.left::before {
  background: var(--color-primary);
}
.cube-face.top::before {
  background: var(--color-secondary);
}
.cube-face.bottom::before {
  background: var(--color-secondary);
}
