.button {
  --h: 227deg;
  --s: 100%;
  --l: 70%;

  color: var(--color-white);
  font-size: 14px;
  line-height: 1;
  font-family: AvenirNextLTW01-DemiCn, san-serif;
  height: 40px;
  margin: 0;
  padding: 0 20px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  background-color: var(--color-primary);
  border: 1px solid var(--color-primary);
  box-sizing: border-box;
  box-shadow: 3px 3px 0 0 #1d4efe;
  user-select: none;
  cursor: pointer;

  -webkit-tap-highlight-color: hsl(227deg 100% 50%/0%);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  * {
    pointer-events: none;
  }
}

.button.small {
  font-size: 12px;
  line-height: 1;
  height: 32px;
  padding: 0 0.875rem;
  box-shadow: 2px 2px 0 0 #1d4efe;
  box-shadow: none;
}

.button.white {
  --h: 0deg;
  --s: 0%;
  --l: 80%;

  color: var(--color-black);
  background-color: var(--color-white);
}

.button.ghost,
.button.white {
  border: 1px solid var(--color-white);
  box-shadow: 3px 3px 0 0 #d9d9d9;
  transition: all 0.3s;
}

.button.ghost {
  --h: 227deg;
  --s: 100%;
  --l: 70%;

  color: var(--color-white);
  background-color: transparent;
}

@media (hover: hover) {
  .button.ghost:hover {
    color: var(--color-black);
    background-color: #fff;
    background-color: var(--color-white);
    box-shadow: 3px 3px 0 0 #1d4efe;
  }
}

.button.full-width {
  width: 100%;
  height: 56px;
  line-height: 56px;
}

.button.disabled {
  color: #444;
  color: var(--color-gray-444);
  border-color: #444;
  border-color: var(--color-gray-444);
  box-shadow: 3px 3px 0 0 #373737;
}
