#catalog1 {
  --item-gutter: 48px;
  --item-w: 260px;

  padding: 5rem 0;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  width: 100vw;

  @media (min-width: 321px) {
    --item-w: 320px;
  }
}

#catalog1 .header {
  grid-area: header;
  position: relative;
  display: flex;
  flex-direction: column;
  text-wrap: balance;
  max-width: 1392px;
  margin: 0 auto;
  text-align: center;

  &::before {
    display: none;
  }

  .icon {
    margin: 0 auto 1.5rem;
  }

  .title {
    text-transform: uppercase;
    margin: 0;
  }

  p {
    color: var(--color-gray-light);
    margin: 1rem auto 1.5rem;
    max-width: 768px;
    opacity: 0.66;
  }
}

/**
 * Catalogs
 */

#catalogs1.catalogs1 {
  display: flex;
  flex-wrap: nowrap;
  width: 100vw;
  /* max-width: 1400px; */
  margin: auto;
  overflow: hidden;

  &.static {
    justify-content: center;
  }
}

#catalogs1 .item {
  margin: 0;
  flex: 1;
  min-width: var(--item-w);
  position: relative;

  * {
    pointer-events: none;
  }

  &.active {
    z-index: 10;
  }
}

#catalogs1 .item-content {
  display: flex;
  margin: 0.25rem;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  border-radius: 0.25rem;
  position: relative;
  transform: scale(0.96);
  filter: saturate(0) brightness(0.33);
  transition: filter 0.3s var(--ease-out-cube),
    transform 0.3s var(--ease-out-cube);

  &::before {
    --dur: 0.3s;
    content: "";
    position: absolute;
    inset: 0;
    background: var(--color-deep-blue);
    pointer-events: none;
    transition: opacity var(--dur) var(--ease-in-out-cube),
      transform var(--dur) var(--ease-in-out-cube),
      background var(--dur) var(--ease-in-out-cube);
    transform-origin: 50% 50%;
    pointer-events: none;
    opacity: 1;
  }

  .active & {
    transform: scale(1);
    filter: none;
  }
}

#catalogs1 .item .item-image {
  width: 100%;
  height: auto;
  display: block;
  max-height: 640px;
  object-fit: contain;
  object-position: 50% 50%;
  transform-origin: 50% 50%;
  position: relative;
  aspect-ratio: 8.75/11;
  z-index: 1;

  &.bg {
    opacity: 0;
    z-index: 0;
    position: absolute;
    inset: 0;
    object-fit: cover;
    filter: blur(6px) brightness(0);
    transform: scale(1.1);
    background: hsl(223 61% 16% / 1);
    transition: opacity var(--dur) var(--ease-in-out-cube);
  }
}

#catalogs1 .item.active .item-image.bg {
  opacity: 1;
}

#catalogs1 figcaption {
  flex: 1;
  z-index: 10;
  text-align: center;
  padding: 1.5rem;
  background: var(--color-deep-blue);
  text-wrap: balance;
  transition: opacity 0.3s var(--ease-out-cube),
    transform 0.3s var(--ease-out-cube);

  .item-title {
    font: 700 1.125rem/1.3 AvenirNextLTW01-BoldCn, san-serif;
    text-transform: capitalize;
    margin: 0;
  }

  .item-description {
    margin: 0.5rem 0 0;
    font-size: 14px;
    opacity: 0.66;
  }
}

@media (min-width: 768px) {
  #catalogs1 figcaption {
    font-size: 1.25rem;
  }
}

#catalog1 .cta {
  margin: 2rem auto 0;
  display: block;
  width: calc(100% - var(--item-gutter));

  @media (min-width: 768px) {
    width: auto;
  }
}
