#catalog {
  --range-handle-width: 60px;
  --range-handle-height: 20px;
  --range-track-height: 4px;
  --item-gutter: 48px;

  padding: 6rem 0;
  position: relative;
  margin: 0 auto;
  background: var(--color-black);
  color: white;
  overflow: hidden;
  width: 100vw;
}

#catalog .logo {
  object-fit: contain;
  max-width: 16rem;
  display: block;
  margin: 0 auto;
  width: 100%;
  height: auto;
}

#catalog .keywords {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  grid-gap: 0.5rem;
  position: relative;
  margin: 3rem auto 3rem;
  padding: 0;
  max-width: 768px;
}

.keyword {
  padding: 0.5rem 1rem;
  margin: 0;
  cursor: pointer;
  font: normal 1rem/1 AvenirNextLTW01-BoldCn, AvenirNextLTW01-DemiCn,
    "Arial Narrow", san-serif;
  text-transform: uppercase;
  text-align: center;
  opacity: 0.33;
  display: inline-block;
  border-radius: 2px;
  background: var(--color-category-blue);
  color: white;
  border: none;

  &[disabled] {
    pointer-events: none;
    background: var(--color-gray-444);
  }
}

@media (hover: hover) {
  .keyword:hover {
    opacity: 0.6;
  }
}

.keyword.active {
  opacity: 1;
}

#catalog .catalogs {
  display: flex;
  flex-wrap: nowrap;
  width: 100vw;
  max-width: 1440px;
  margin: auto;
}

.item {
  margin: 0;
  flex: 1;
  min-width: 70%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &::before {
    --dur: 0.3s;
    content: "";
    position: absolute;
    inset: 0 0 12.5% 0;
    background: var(--color-deep-blue);
    pointer-events: none;
    transition: opacity var(--dur) var(--ease-in-out-cube),
      transform var(--dur) var(--ease-in-out-cube),
      background var(--dur) var(--ease-in-out-cube);
    transform-origin: 50% 25%;
    pointer-events: none;
    opacity: 1;
    z-index: -1;
  }

  &.active {
    z-index: 10;
  }

  #catalogs.loops &.active::before {
    --dur: 0.15s;
    background: var(--color-slate-blue);
    transform: scale(1.3);
    box-shadow: 0 8px 64px rgba(0, 0, 0, 0.8);
  }

  * {
    pointer-events: none;
  }
}

@media (min-width: 768px) {
  #catalog .item {
    min-width: 33%;
  }
}

#catalog .item img {
  width: 100%;
  height: auto;
  display: block;
  max-height: 300px;
  object-fit: contain;
  object-position: 50% 100%;
  transform-origin: 50% 50%;
  position: relative;
  filter: brightness(0.24) saturate(0);
  transform: scale(0.84);
  transition: filter 0.3s var(--ease-out-cube),
    transform 0.3s var(--ease-out-cube);
}

#catalog .item.active img {
  filter: none;
  transition: filter 0.3s var(--ease-out-cube),
    transform 0.3s var(--ease-out-cube);
  transform: scale(1);

  & + figcaption {
    opacity: 1;
  }
}

#catalog figcaption {
  font: 700 1rem/1.3 AvenirNextLTW01-BoldCn, san-serif;
  text-transform: capitalize;
  text-align: center;
  opacity: 0;
  z-index: 10;
  padding: 1.5rem 1rem 0;
  text-wrap: balance;
  transition: opacity 0.3s var(--ease-out-cube),
    transform 0.3s var(--ease-out-cube);
}

@media (min-width: 768px) {
  #catalog figcaption {
    font-size: 1.5rem;
  }
}
