#catalog1 {
  --range-handle-width: 60px;
  --range-handle-height: 20px;
  --range-track-height: 4px;
  --item-gutter: 48px;
  --item-w: 320px;

  padding: 5rem 0;
  position: relative;
  margin: 0 auto;
  background: var(--color-black);
  color: white;
  overflow: hidden;
  width: 100vw;

  @media (min-width: 768px) {
    --item-w: 380px;
  }
}

#catalog1 .header {
  grid-area: header;
  position: relative;
  display: flex;
  flex-direction: column;
  text-wrap: balance;
  max-width: 1392px;
  margin: 0 auto;
  text-align: center;

  &::before {
    display: none;
  }

  .icon {
    margin: 0 auto 1.5rem;
  }

  .title {
    text-transform: uppercase;
    margin: 0;
  }

  p {
    color: var(--color-gray-light);
    margin: 1rem auto 1.5rem;
    max-width: 768px;
    opacity: 0.66;
  }

  .fill-1 {
    fill: var(--color-red-brown);
  }

  .fill-2 {
    fill: var(--color-gray-medium);
  }

  .icon .lock {
    fill: var(--color-gray-medium);
  }
}

#catalog1 .keywords {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  grid-gap: 0.5rem;
  position: relative;
  margin: 1rem auto;
  padding: 0;
  max-width: 768px;
}

@keyframes enter-button {
  0% {
    transform: translate3d(0, -100%, 0);
  }
  100% {
    transform: translate3d(0, 0%, 0);
  }
}

@keyframes exit-button {
  0% {
    transform: translate3d(0, 0%, 0);
  }
  100% {
    opacity: 0;
    transform: translate3d(0, 0%, 0);
  }
}

#catalog1 .filter.button {
  box-shadow: none;
  display: flex;
  align-items: center;
  margin: 0 auto 3rem;
  color: white;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transition: color 0.16s var(--ease-out-sine) 0s,
    background 0.16s var(--ease-out-sine) 0s;
  /* display: none; */

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background: white;
    z-index: -1;
    transform: translate3d(0, -100%, 0);
    transition: transform 0.16s var(--ease-in-expo) 0s;
    animation: exit-button 0.16s var(--ease-in-expo) forwards;
  }

  svg.button-icon {
    transform: scale(1, -1);
    width: 1rem;
    height: 1rem;
  }

  &.active {
    color: black;
    margin-bottom: 0;

    &::before {
      transform: translate3d(0, 0%, 0);
      transition: transform 0.3s var(--ease-out-expo) 0s;
      animation: enter-button 0.3s var(--ease-out-expo) forwards;
    }

    svg.button-icon {
      transform: scale(1, 1);
    }
  }
}

@media (hover: hover) {
  #catalog1 .filter.button:hover {
    background: hsla(0deg 0% 100% / 16%);
  }
}

.keyword.button.small {
  margin: 0;
  cursor: pointer;
  display: inline-block;
  border: 1px solid hsla(0deg 0% 100% / 16%);
  box-shadow: none;
  position: relative;
  z-index: 1;

  @media (hover: hover) {
    &:hover {
      background: none;
      color: currentColor;
      box-shadow: none;
      border: 1px solid hsla(0deg 0% 100% / 33%);
    }
  }

  &:not(.active) {
    transition: none;
  }

  &.active {
    border: 1px solid transparent;
    &::before {
      opacity: 1;
      background: var(--color-category-blue);
      transition: opacity 1s var(--ease-out-cube),
        background 1s var(--ease-out-cube);
    }
  }

  &[disabled] {
    pointer-events: none;
    background: transparent;
  }

  &::before {
    content: "";
    background: var(--color-cyan);
    position: absolute;
    inset: 0;
    pointer-events: none;
    opacity: 0;
    transition: none;
    z-index: -1;
    transition: background 0.16s var(--ease-in-cube),
      opacity 0.16s var(--ease-in-cube);
  }

  &::after {
    content: " " attr(data-count);
    opacity: 0.66;
    padding-left: 0.25rem;
    font-family: "AvenirNextLTW01-DemiCn";
  }
}

/**
 * Catalogs
 */

#catalogs1.catalogs1 {
  display: flex;
  flex-wrap: nowrap;
  width: 100vw;
  max-width: 1400px;
  margin: auto;

  &.static {
    justify-content: center;
  }
}

#catalogs1 .item {
  margin: 0;
  flex: 1;
  min-width: var(--item-w);
  position: relative;

  &.active {
    z-index: 10;
  }
}

#catalogs1 .item-content {
  display: flex;
  margin: 0.25rem;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  border-radius: 0.25rem;
  position: relative;

  &::before {
    --dur: 0.3s;
    content: "";
    position: absolute;
    inset: 0;
    background: #272e3f;
    background: var(--color-deep-blue);
    pointer-events: none;
    transition: opacity var(--dur) var(--ease-in-out-cube),
      transform var(--dur) var(--ease-in-out-cube),
      background var(--dur) var(--ease-in-out-cube);
    transform-origin: 50% 50%;
    pointer-events: none;
    opacity: 1;
  }
}

#catalogs1 .item img {
  width: 100%;
  height: auto;
  display: block;
  max-height: 640px;
  object-fit: contain;
  object-position: 50% 50%;
  transform-origin: 50% 50%;
  position: relative;
  filter: brightness(0.24) saturate(0);
  transform: scale(1);
  transition: filter 0.3s var(--ease-out-cube),
    transform 0.3s var(--ease-out-cube);
}

#catalogs1 .item.active img {
  filter: none;
  pointer-events: all;
  transition: filter 0.3s var(--ease-out-cube),
    transform 0.3s var(--ease-out-cube);
  cursor: pointer;

  & + figcaption {
    opacity: 1;
  }
}

#catalogs1 figcaption {
  flex: 1;
  opacity: 0.66;
  z-index: 10;
  padding: 1.5rem;
  text-wrap: balance;
  transition: opacity 0.3s var(--ease-out-cube),
    transform 0.3s var(--ease-out-cube);

  .item-title {
    font: 700 1.125rem/1.3 AvenirNextLTW01-BoldCn, san-serif;
    text-transform: capitalize;
    margin: 0;
  }

  .item-description {
    margin: 0.5rem 0 0;
    font-size: 14px;
    opacity: 0.66;
  }
}

@media (min-width: 768px) {
  #catalogs1 figcaption {
    font-size: 1.25rem;
  }
}

.catalog-view {
  position: fixed;
  inset: 0;
  z-index: 100;
  pointer-events: none;
  overflow: hidden;

  &[data-active] {
    pointer-events: all;
  }

  .overlay {
    background: rgba(0, 0, 0, 0.66);
    position: absolute;
    inset: 0;
    cursor: pointer;
    transition: opacity 0.16s var(--ease-in-expo);
    opacity: 0;
  }

  &[data-active] .overlay {
    transition: opacity 0.32s var(--ease-out-expo);
    opacity: 1;
  }
}

.catalog-view .modal {
  padding: 1.5rem 0;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translate3d(0, 100%, 0);
  transition: transform 0.3s var(--ease-in-expo);
  overflow: hidden;
}

.catalog-view[data-active] .modal {
  transform: translate3d(0, 0%, 0);
  transition: transform 0.6s var(--ease-out-expo);
}
