#magazines {
  position: relative;
  display: grid;
  overflow: hidden;
  place-items: center;
  background: var(--color-black);
  background: var(--color-deep-blue);
  color: white;
  margin: 0 auto;
  align-items: center;
  max-width: 1400px;
  padding: 3rem 0;
  grid-gap: 1.5rem 0;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "header header"
    "canvas canvas"
    "c1 c2"
    "c3 c4"
    "cta cta";

  @media (min-width: 768px) {
    padding: 6rem;
    grid-gap: 2rem 1.5rem;
    grid-template-columns: auto 1fr auto;
    grid-template-areas:
      "header header header"
      "c1 canvas c2"
      "c3 canvas c4"
      "cta cta cta";
  }

  @media (min-width: 1280px) {
    padding: 6rem 10rem;
  }
}

#magazines .header {
  grid-area: header;
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  text-wrap: balance;
  max-width: 768px;
  margin: auto;

  &::before {
    display: none;
  }

  .title {
    text-transform: uppercase;
    margin: 0;
  }

  p {
    color: var(--color-gray-light);
  }
}

#magazines .box {
  width: 100%;
  min-width: 180px;
  max-width: 240px;
  text-wrap: balance;
  display: grid;
  justify-self: start;
  align-self: start;
  grid-gap: 0 1rem;
  grid-template-columns: 1fr;
  grid-template-areas:
    "icon"
    "title"
    "text";

  @media (min-width: 768px) {
    grid-template-columns: 48px 1fr;
    grid-template-areas:
      "icon title"
      "icon text";
  }

  svg {
    width: 32px;
    aspect-ratio: 1;
    color: var(--color-cyan);
    grid-area: icon;
    margin: 0 0 0.5rem;

    @media (min-width: 768px) {
      width: 48px;
      margin: 0;
    }
  }

  h3 {
    grid-area: title;
    margin: 0;
    font-size: 1rem;
  }

  @media (min-width: 768px) {
    h3 {
      font-size: 1.5rem;
    }
  }

  p {
    color: var(--color-gray-light);
    grid-area: text;
    font-size: 14px;
    margin: 0.5rem 0 0;
  }

  @media (min-width: 768px) {
    p {
      font-size: 18px;
      margin: 1rem 0 0;
    }
  }
}

#magazines .box.c1 {
  grid-area: c1;
}
#magazines .box.c2 {
  grid-area: c2;
}
#magazines .box.c3 {
  grid-area: c3;
}
#magazines .box.c4 {
  grid-area: c4;
}

#magazines .box {
  &.c1,
  &.c3 {
    padding: 0 0 0 2rem;

    @media (min-width: 768px) {
      padding: 0;
    }
  }

  &.c2,
  &.c4 {
    padding: 0 0 0 2rem;

    @media (min-width: 768px) {
      padding: 0;
    }
  }

  .s-cyan {
    stroke: var(--color-cyan);
  }
  .f-cyan {
    fill: var(--color-cyan);
  }
}

#magazines .canvas {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  padding: 0;
  width: 100%;
  height: auto;
  height: -webkit-fill-available;
  max-width: var(--canvas-w, none);
  min-width: 300px;
  min-height: 300px;
  aspect-ratio: 1.25;
  margin: 0 auto;
  grid-area: canvas;
}

#magazines .center {
  height: inherit;
  position: absolute;
  user-select: none;
  transform-origin: 50% 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#magazines .items {
  position: relative;
  top: 50%;
  left: 50%;
  height: inherit;
  transform: translate3d(-50%, -50%, 0);
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

#magazines .item {
  position: absolute;
  user-select: none;
  cursor: pointer;
}

#magazines .item .magazine {
  display: flex;
  color: #fff;
  user-select: none;
  border-radius: 0.25rem;
  cursor: grab;
  position: relative;
  z-index: 1;
  margin: 0;
  height: 100%;
  width: auto;
  width: calc(var(--canvas-w) * 0.5);
  aspect-ratio: 8.5/11;
}

@media (min-width: 768px) {
  #magazines .item .magazine {
    width: calc(var(--canvas-w) * 0.33);
  }
}

@media (min-width: 1024px) {
  #magazines .item .magazine {
    width: calc(var(--canvas-w) * 0.4);
  }
}

@media (min-width: 1280px) {
  #magazines .item .magazine {
    width: calc(var(--canvas-w) * 0.5);
  }
}

#magazines .item .magazine::before {
  content: "";
  position: absolute;
  inset: 0;
  mix-blend-mode: hard-light;
  opacity: 0.333;
  background: linear-gradient(
    90deg,
    hsl(0deg 0% 0% / 50%) 1%,
    hsl(0deg 0% 0% / 80%) 3%,
    hsl(0deg 0% 60% / 60%) 60%,
    hsl(0deg 0% 0% / 60%) 100%
  );
  z-index: 1;
  pointer-events: none;
}

#magazines .image {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  object-position: 0 0;
  aspect-ratio: 8.5/11;
}

#magazines .cta {
  margin: 1.5rem auto 0;
  grid-area: cta;
}
