#magazines {
  position: relative;
  display: grid;
  color: white;
  margin: 0 auto;
  align-items: center;
  max-width: 1400px;
  padding: 3rem 1rem;
  grid-gap: 1.5rem 0;
  z-index: 2;
  overflow: hidden;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "header header"
    "canvas canvas"
    "c1 c2"
    "c3 c4"
    "cta cta";

  @media (min-width: 768px) {
    padding: 6rem;
    grid-gap: 2rem 1.5rem;
    grid-template-columns: auto minmax(120px, 180px) minmax(120px, 180px);
    grid-template-areas:
      "canvas header header"
      "canvas c1 c2"
      "canvas c3 c4"
      "canvas cta cta";
  }

  @media (min-width: 1280px) {
    padding: 6rem 10rem;
  }

  &::before {
    --x: 50%;
    --y: 50%;
    --f: 100%;
    content: "";
    background: radial-gradient(
      circle at var(--x) var(--y),
      var(--color-primary),
      var(--color-deep-blue),
      transparent var(--f)
    );
    position: absolute;
    inset: 0;
    filter: blur(128px);
    border-radius: 100vw;
    opacity: 0.66;
  }

  @media (min-width: 768px) {
    --x: 66%;
    --y: 40%;
    --f: 66%;
  }
}

#magazines .header {
  grid-area: header;
  position: relative;
  display: flex;
  flex-direction: column;
  text-wrap: balance;
  max-width: 768px;
  margin: auto;
  text-align: center;

  @media (min-width: 768px) {
    & {
      text-align: left;
    }
  }

  &::before {
    display: none;
  }

  .title {
    text-transform: uppercase;
    margin: 0;
  }

  p {
    color: var(--color-gray-light);
    opacity: 0.66;
  }
}

#magazines .box {
  width: 100%;
  text-wrap: balance;
  display: grid;
  justify-self: start;
  align-self: start;
  grid-gap: 0 1rem;
  grid-template-columns: 1fr;
  grid-template-areas:
    "icon"
    "title"
    "text";

  @media (min-width: 768px) {
    grid-template-columns: 1fr;
    grid-template-areas:
      "icon"
      "title"
      "text";
  }

  h3 {
    grid-area: title;
    margin: 0;
    font-size: 1rem;
  }

  @media (min-width: 768px) {
    h3 {
      font-size: 1.5rem;
    }
  }

  p {
    color: var(--color-gray-light);
    grid-area: text;
    font-size: 14px;
    margin: 0.5rem 0 0;
    opacity: 0.66;
  }

  @media (min-width: 768px) {
    p {
      font-size: 16px;
      margin: 1rem 0 0;
    }
  }
}

#magazines .box.c1 {
  grid-area: c1;
}
#magazines .box.c2 {
  grid-area: c2;
}
#magazines .box.c3 {
  grid-area: c3;
}
#magazines .box.c4 {
  grid-area: c4;
}

#magazines .box {
  &.c1,
  &.c3 {
    padding: 0 0 0 2rem;

    @media (min-width: 768px) {
      padding: 0;
    }
  }

  &.c2,
  &.c4 {
    padding: 0 0 0 2rem;

    @media (min-width: 768px) {
      padding: 0;
    }
  }
}

#magazines .canvas {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  padding: 0;
  width: 100%;
  height: auto;
  height: -webkit-fill-available;
  max-width: var(--canvas-w, none);
  min-width: 300px;
  min-height: 300px;
  aspect-ratio: 1.25;
  margin: 1rem auto 1.5rem;
  grid-area: canvas;
}

@media (min-width: 541px) {
  #magazines .canvas {
    left: -2rem;
    margin: 0 auto;
  }
}

#magazines .center {
  height: inherit;
  position: absolute;
  user-select: none;
  transform-origin: 50% 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#magazines .items {
  position: relative;
  top: 50%;
  left: 50%;
  height: inherit;
  transform: translate3d(-50%, -50%, 0);
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

#magazines .item {
  position: absolute;
  user-select: none;
  cursor: pointer;
}

#magazines .item .magazine {
  display: flex;
  color: #fff;
  user-select: none;
  border-radius: 0.25rem;
  cursor: grab;
  position: relative;
  z-index: 1;
  margin: 0;
  height: 100%;
  width: auto;
  width: calc(var(--canvas-w) * 0.65);
  aspect-ratio: 8.5/11;
}

@media (min-width: 541px) {
  #magazines .item .magazine {
    width: calc(var(--canvas-w) * 0.5);
  }
}

@media (min-width: 1024px) {
  #magazines .item .magazine {
    width: calc(var(--canvas-w) * 0.65);
  }
}

@media (min-width: 1280px) {
  #magazines .item .magazine {
    width: calc(var(--canvas-w) * 0.8);
  }
}

#magazines .item .magazine::before {
  content: "";
  position: absolute;
  inset: 0;
  mix-blend-mode: hard-light;
  opacity: 0.333;
  background: linear-gradient(
    90deg,
    hsl(0deg 0% 0% / 50%) 1%,
    hsl(0deg 0% 0% / 80%) 3%,
    hsl(0deg 0% 60% / 60%) 60%,
    hsl(0deg 0% 0% / 60%) 100%
  );
  z-index: 1;
  pointer-events: none;
}

#magazines .image {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  object-position: 0 0;
  aspect-ratio: 8.5/11;
}

#magazines .cta {
  margin: 1.5rem 0 0;
  grid-area: cta;

  @media (min-width: 768px) {
    position: relative;
    grid-area: unset;
  }
}
