#magazines {
  --ar: 8.5/11;
  --container-w: 1400px;
  --min-w: 240px;

  position: relative;
  display: grid;
  color: white;
  margin: 0 auto;
  align-items: center;
  max-width: var(--container-w);
  padding: 3rem 1rem;
  grid-gap: 1.5rem 0;
  z-index: 2;
  overflow: hidden;
  grid-template-columns: 1fr;
  grid-template-areas:
    "header"
    "canvas"
    "box"
    "cta";

  @media (min-width: 321px) {
    --min-w: 300px;
  }

  @media (min-width: 768px) {
    padding: 6rem;
    grid-gap: 2rem 1.5rem;
  }

  @media (min-width: 1280px) {
    padding: 6rem 10rem;
  }

  &::before {
    --x: 50%;
    --y: 50%;
    --f: 100%;

    content: "";
    background: radial-gradient(
      circle at var(--x) var(--y),
      var(--color-primary),
      var(--color-deep-blue),
      transparent var(--f)
    );
    position: absolute;
    inset: 0;
    filter: blur(128px);
    border-radius: 100vw;
    opacity: 0.66;
  }

  @media (min-width: 768px) {
    --x: 66%;
    --y: 40%;
    --f: 66%;
  }
}

/**
 * Header
 */

#magazines .header {
  grid-area: header;
  position: relative;
  display: flex;
  flex-direction: column;
  text-wrap: balance;
  max-width: 768px;
  margin: auto;
  text-align: center;

  &::before {
    display: none;
  }

  .title {
    text-transform: uppercase;
    margin: 0;
  }

  p {
    color: var(--color-gray-light);
    opacity: 0.66;
  }
}

/**
 * Magazines
 */

#magazines .canvas {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  padding: 0;
  width: 100%;
  height: auto;
  aspect-ratio: var(--ar);
  width: var(--canvas-w, none);
  min-width: var(--min-w);
  margin: 1rem auto 1.5rem;
  grid-area: canvas;
}

@media (min-width: 541px) {
  #magazines .canvas {
    margin: 1.5rem auto 3rem;
  }
}

#magazines .center {
  height: inherit;
  position: absolute;
  user-select: none;
  transform-origin: 50% 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#magazines .items {
  position: relative;
  top: 50%;
  left: 50%;
  height: inherit;
  transform: translate3d(-50%, -50%, 0);
  display: flex;
  align-items: center;
  justify-content: center;
}

#magazines .item {
  position: absolute;
  cursor: pointer;
}

#magazines .item .magazine {
  display: flex;
  color: #fff;
  border-radius: 0.25rem;
  position: relative;
  z-index: 1;
  margin: 0;
  height: 100%;
  width: auto;
  width: calc(var(--canvas-w) * 1);
  min-width: var(--min-w);
  aspect-ratio: var(--ar);
}

#magazines .item .magazine::before {
  content: "";
  position: absolute;
  inset: 0;
  mix-blend-mode: hard-light;
  opacity: 0.333;
  background: linear-gradient(
    90deg,
    hsl(0deg 0% 0% / 50%) 1%,
    hsl(0deg 0% 0% / 80%) 3%,
    hsl(0deg 0% 60% / 60%) 60%,
    hsl(0deg 0% 0% / 60%) 100%
  );
  z-index: 1;
  pointer-events: none;
}

#magazines .image {
  width: calc(var(--canvas-w) * 1);
  height: 100%;
  min-width: var(--min-w);
  display: block;
  object-fit: cover;
  object-position: 0 0;
  aspect-ratio: var(--ar);
}

/**
 * Box - Prop Values
 */

#magazines .box {
  grid-area: box;
  width: 100%;
  text-align: center;
  text-wrap: balance;
  display: flex;
  justify-content: center;

  h3 {
    margin: 1rem 0 0;
    font-size: 1rem;
    line-height: 1rem;
    display: flex;
    align-items: center;
  }

  h3:nth-child(2) {
    &::before,
    &::after {
      content: " • ";
      margin: 0 0.5rem;
      font-weight: normal;
      font-size: 0.66em;
      opacity: 0.33;
    }
  }

  @media (min-width: 768px) {
    h3 {
      font-size: 1.5rem;
    }

    h3:nth-child(2) {
      &::before,
      &::after {
        margin: 0 1.5rem;
      }
    }
  }
}

/**
 * CTA
 */

#magazines .cta {
  margin: 1rem 0 0;
  grid-area: cta;

  @media (min-width: 768px) {
    margin: 1.5rem 0 0;
    margin-left: auto;
    margin-right: auto;
  }
}
