$envelope: #491840;
$link: black;
$font-title: "Playfair Display", sans-serif;
$font-body: "Karla", sans-serif;
$card-front: radial-gradient(#ffffff, #f5e9d9);
$card-back: radial-gradient(#ffffff, #f5e9d9);
$bg: radial-gradient(
  ellipse at center,
  hsl(265.82deg 100% 81.87%) 0%,
  hsl(152.73deg 15.52% 78.09%) 100%
);

:root {
  --card-w: 320px;
  --ratio: 1.625;
  --border: #aaa;
  --border-active: #000;

  background: $bg;
  overflow: hidden;
}

@media (min-width: 375px) {
  :root {
    --card-w: 365px;
  }
}

body {
  user-select: none;
  perspective: 1000px;
  margin: 0;
  height: 100vh;
  width: 100vw;
  font-family: $font-body;
  color: #333;
  font-size: 16px;
  line-height: 1.7;
  text-wrap: balance;
  font-optical-sizing: auto;
  overflow: hidden;
}

* {
  outline: none;
}

.invitation {
  width: var(--card-w);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.flap-bottom {
  pointer-events: none;
  position: absolute;
  bottom: 0;
  left: 0;
  border-right: calc(var(--card-w) / 2) solid transparent;
  border-bottom: calc(var(--card-w) / 2 / var(--ratio)) solid
    darken($envelope, 10%);
  border-left: calc(var(--card-w) / 2) solid transparent;
  z-index: 1;
  transition: opacity 3s ease-out;
}

[data-init] .flap-bottom {
  opacity: 0;
}

.envelope {
  background: $envelope;
  width: 100%;
  height: calc(var(--card-w) / var(--ratio));
  position: relative;
  z-index: 1;
  &.is-open {
    &:before,
    &:after {
      z-index: -2;
    }
  }
}

.envelope:before,
.envelope:after {
  content: "";
  position: absolute;
  bottom: 0;
}

.envelope:before {
  right: 0;
  border-bottom: 0px solid transparent;
  border-top: calc(var(--card-w) / var(--ratio)) solid transparent;
  border-right: var(--card-w) solid darken($envelope, 2%);
  z-index: 1;
}

.envelope:after {
  left: 0;
  border-bottom: 0px solid transparent;
  border-top: calc(var(--card-w) / var(--ratio)) solid transparent;
  border-left: var(--card-w) solid darken($envelope, 6%);
  z-index: 1;
}

.flap {
  pointer-events: none;
  border-right: calc(var(--card-w) / 2) solid transparent;
  border-top: calc(var(--card-w) / 2 / var(--ratio)) solid darken($envelope, 8%);
  border-left: calc(var(--card-w) / 2) solid transparent;
  position: absolute;
  left: 0;
  top: 0;
  transform: scaleY(1.01);
  transform-origin: 50% 0%;
  z-index: 2;
}

.mask {
  box-sizing: border-box;
  clip-path: inset(0 0 50% 0);
  overflow: hidden;
  position: relative;
  width: calc(var(--card-w) * 0.96);
  height: calc(var(--card-w) * 1.34 * 3);
  z-index: 0;
  margin: auto;
  top: 50%;
  transform: translate(0, -50%);
  perspective: 1200px;
}

.card {
  position: relative;
  width: calc(var(--card-w) * 0.96);
  height: calc(var(--card-w) * 1.34);
  margin: auto;
  transform-style: preserve-3d;
  transform-origin: 50% 10%;
  transform: translate(0, 128%) rotateY(0deg);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.08);
}

.face {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  background: transparent 50% 100% / auto 100% no-repeat;
  box-shadow: 0 3px 6x rgba(#000, 0.3);
  border-radius: 0.75rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  text-align: center;

  &:last-of-type {
    transform: translateZ(-3px) rotateY(180deg);
    background-size: 130% auto;
  }
}

h1 {
  position: relative;
  font: normal 3.5em/1 $font-title;
  color: black;
  padding: 0;
  margin: 2rem 0 0;
  text-align: center;
  -webkit-font-smoothing: subpixel-antialiased;
  z-index: 10;
}

h1 + p {
  position: relative;
  margin-top: 1rem;
  z-index: 10;
}

h2 {
  position: relative;
  font: normal 2em/1 $font-title;
  color: black;
  padding: 0;
  margin: 0;
  text-align: center;
  text-wrap: balance;
  -webkit-font-smoothing: subpixel-antialiased;
}

.subtitle {
  margin: 0.5rem 0 0;
}

.small {
  font-size: 12px;
}

.front {
  background: $card-front;
  padding: 2rem;
}

.face.back {
  --img-w: 34%;
  padding: 0;
  background: $card-back;
  color: black;
  overflow: hidden;

  img {
    position: relative;
    display: block;
    min-height: 30%;
    min-width: 100%;
    overflow: hidden;
    object-fit: cover;
  }
}

#logo {
  width: 32px;
  margin: auto;
  display: block;
}

a {
  font-weight: 600;
  text-decoration: none;
  color: $link;
}

a.flip {
  position: absolute;
  bottom: 0.5rem;
  right: 1rem;
  font-size: 12px;
}

.text {
  padding: 1rem;
  display: flex;
  flex-direction: column;

  & > p:only-of-type {
    margin-bottom: 0;
  }
}

.info {
  text-align: left;
  display: block;
}

button {
  margin: 0 auto;
  max-width: 100%;
  width: 100%;
  font: normal 1em $font-body;
  padding: 0.5rem 1.5rem;
  border-radius: 30px;
  background: black;
  color: white;
  border: none;
  white-space: nowrap;
  cursor: pointer;
  position: relative;
  z-index: 1;
  transition: background 0.3s ease-out, color 0.3s ease-out;

  &.ghost {
    background: rgba(0, 0, 0, 0.08);
    color: #666;
  }
}

label[for="password"]::before {
  content: "✓ Copied!";
  background: #c4ffc2;
  color: #033801;
  position: absolute;
  right: 1px;
  padding: 4px 8px;
  border-radius: 4px 100px 100px 4px;
  transition: opacity 0.3s ease-out;
  opacity: 0;
}

label.copied::before {
  opacity: 1;
  animation: 1s copied ease-out forwards;
}

@keyframes copied {
  0% {
    opacity: 0;
  }
  10%,
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

label {
  position: relative;
  border-radius: 1rem;
  border: 1px solid var(--border);
  display: flex;
  font-size: 10px;
  align-items: center;
  margin-bottom: 0;
  overflow: hidden;
  padding: 0;

  & span {
    padding: 0 0.5rem 0 0.75rem;
  }

  &:has(input:focus) {
    border-color: var(--border-active);
  }
}

input {
  border-radius: 0;
  border: none;
  border-left: 1px solid var(--border);
  padding: 0.5rem 0.5rem;
  background: white;
  color: black;
  font: 400 10px/1 $font-body;
  width: 100%;

  &:focus {
    border-color: var(--border-active);
  }
}

label:has(input[type="range"]) {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  pointer-events: none;
  display: none;
}

input[type="range"] {
  background: none;
  appearance: none;
  border: none;
  position: absolute;
  inset: 0;
  height: 100%;
  z-index: 1;
  padding: 0;
  opacity: 0;
}

[data-init] + label[for="flip"] {
  pointer-events: all;
}

.ballons {
  position: absolute;
  z-index: 0;
  pointer-events: none;
  inset: 0;
  z-index: 9;
  opacity: 0;
}

.ballon {
  width: 150px;
  height: 150px;
  display: block;
  position: absolute;

  svg {
    position: relative;
    height: inherit;
    width: inherit;
    animation: idle 6s ease-in-out infinite;
  }

  &:nth-of-type(1) {
    top: 0;
    left: -2rem;
    svg {
      animation-delay: 0.5s;
      fill: #86a8d6;
    }
  }

  &:nth-of-type(2) {
    top: -2rem;
    left: 4rem;
    svg {
      animation-delay: 2s;
      fill: hsl(2.69deg 78.82% 83.33%);
    }
  }
  &:nth-of-type(3) {
    top: 6rem;
    right: -2rem;
    svg {
      animation-delay: 2.5s;
      fill: #ebdda0;
    }
  }
  &:nth-of-type(4) {
    top: -0.5rem;
    right: 1.5rem;
    svg {
      animation-delay: 3s;
      fill: rgb(185 216 185);
    }
  }
}

@keyframes idle {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}

#cakes {
  position: absolute;
  inset: 0;
  pointer-events: none;
  opacity: 0;
  clip-path: inset(65% 0px 0px 0px);

  &.show {
    opacity: 1;
    transition: opacity 1s ease-out;
  }
}

#cake {
  display: block;
  position: relative;
  margin: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  filter: hue-rotate(-80deg);
}

.velas {
  background: #ffffff;
  border-radius: 10px;
  position: absolute;
  top: 380px;
  left: 50%;
  margin-left: -2.4px;
  margin-top: -8.33333333px;
  width: 5px;
  height: 35px;
  transform: translateY(-300px);
  backface-visibility: hidden;
  animation: in 500ms 6s ease-out forwards;
}

.velas:after,
.velas:before {
  background: rgba(255, 0, 0, 0.4);
  content: "";
  position: absolute;
  width: 100%;
  height: 2.22222222px;
}
.velas:after {
  top: 25%;
  left: 0;
}
.velas:before {
  top: 45%;
  left: 0;
}

.fuego {
  border-radius: 100%;
  position: absolute;
  top: -20px;
  left: 50%;
  margin-left: -2.6px;
  width: 6.66666667px;
  height: 18px;
}
.fuego:nth-child(1) {
  animation: fuego 2s 6.5s infinite;
}
.fuego:nth-child(2) {
  animation: fuego 1.5s 6.5s infinite;
}
.fuego:nth-child(3) {
  animation: fuego 1s 6.5s infinite;
}
.fuego:nth-child(4) {
  animation: fuego 0.5s 6.5s infinite;
}
.fuego:nth-child(5) {
  animation: fuego 0.2s 6.5s infinite;
}

@keyframes fuego {
  0%,
  100% {
    background: rgba(254, 248, 97, 0.5);
    box-shadow: 0 0 40px 10px rgba(248, 233, 209, 0.2);
    transform: translateY(0) scale(1);
  }
  50% {
    background: rgba(255, 50, 0, 0.1);
    box-shadow: 0 0 40px 20px rgba(248, 233, 209, 0.2);
    transform: translateY(-20px) scale(0);
  }
}

@keyframes in {
  to {
    transform: translateY(0);
  }
}

.marquee {
  background: url("/asset.jpg") 50% 0 / auto 100px repeat-x;
  min-height: 100px;
  animation: marquee 60s linear infinite;
}

@keyframes marquee {
  to {
    background-position: -100vw 0;
  }
}
