[data-option='1'] {
  .cards {
    margin-top: 180pt;
  }

  .page-bg {
    transform-origin: 50% 170%;
    transform: scale(1.02);
  }
}

@media print {
  [data-option='1'] .page-bg {
    transform: scale(1.01);
  }
  [data-option='1'] .cards {
    margin-top: 240pt;
  }
  [data-option='1'] .cards {
    width: calc(var(--page-w) - 160pt);
  }
}
